/* header code */
/* fonts */
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Roboto-Black.ttf);
 }
/* *{
    font-family: myFirstFont;
} */

body{
    margin:0 auto;
}

.loader_container{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position:absolute;
    z-index: 100;
    margin:0 auto;
}
.loader {
    position:absolute;

    top:50%;
    left: 50%;
    
}
.pageLayout{

    /* border:2px solid red; */
    padding: 5rem 0% 0% 20%;
   
}


.sidebar{
    position: fixed;
    background-color: #333;
    height: 100vh;
    z-index: 2;
    color: #fff;
    padding-top: 3%;
    width: 17rem;
}

.topRow .col-3{
    height: 3rem;
    margin: 1rem;
}
.category_card{
    border-radius: 5px;
}
.category_card:hover{
    cursor: pointer;
    /* -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    transition: all 2s; */
}

#overlay{
    position: fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, .6);
    z-index: 3;
   
}

.sidebar a{
    color:#fff;
}
a:hover{
    color:rgb(110, 108, 105);
    text-decoration: none;
    cursor: pointer;
    
}

/* list style  */
.instruc {
    background-color: cadetblue;
    cursor: pointer;
    border-radius: 2px;

}
.instruc:hover{
    background-color: rgba(132, 147, 148, 0.527);
    color:#000;

    transition:all 3s;
cursor: pointer;
}

.optionClass{
    cursor: pointer;
}
.optionClass:hover{
    background-color: ghostwhite;
    transition: all 2s;
}


/* QUILL */
 .quill-editor, .ql-editor, .ql-container .ql-snow{
    margin: 0 auto;
    width: 100%;
    /* min-height: 30vh;
    max-height: 30vh; */
  }

  
  
 .ql-toolbar .ql-snow
   {
    border: 2px solid green;
    position: fixed;
    width: 100%;
  }

  /* admin login */
  .admin-login{
      background-image: url(admin.png);
      background-repeat: no-repeat;
      background-size: contain;
      height:100vh; width:100vw;
      left:50%
  }

  .loginPg{
      background-image: url(edubg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
     
  }